

/*
    MAIN
*/

body{
    background-color: #b91450;
    background-image: url(../img/daniel-abadia-Njq3Nz6-5rQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

label {
    margin-bottom: 1rem;
    display: block;
    color: #b91450;
}

input, select{
    padding: 1rem;
    border: 1px solid #b91450;
    border-radius: 10px;
    font-size: 0.8rem;
}

#submit-button {
    border-color: #b91450;
}